header {
	display: flex;
	justify-content: flex-end;
	background-color: theme('colors.crust');
}

header nav {
	display: flex;
}

header a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: theme('colors.mantle');;
}

header a:hover {
	background-color: theme('colors.mantle');
}